<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UsersDb" connectionString="Data Source=DESKTOP-9NDBDDO\SSCSERVER;Initial Catalog=UsersDb;Integrated Security=True;Pooling=False;" providerName="System.Data.SqlClient" />
    <!-- <add name="usersDb" connectionString="Data Source=GIMSINC\SQLEXPRESS01;Initial Catalog=Users_su;Integrated Security=True;" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>